
footer {
  margin-top: 10px;
  color: black;
  background: skyblue;
  padding: 5px;
}

h2 {
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  font-size: 250%;
}

#buttons {
  text-align: center;
  font-size: 120%;
}

#form {
  margin-top: 30px;
  text-align: center;
}

.btn {
  border-style: solid;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.foot {
  text-align: center;
  font-size: 75%;
}
