body {
  margin: 0;
}

footer {
  color: black;
  background: grey;
  padding: 5px;
}

section {
  padding-bottom: 10px;
  margin: 0;
}

h2 {
  margin-top: 0;
  padding-top: 10px;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  font-size: 220%;
}

h3 {
  padding: 15px;
  font-family: 'Signika', sans-serif;
  font-size: 120%;
  background-color: black;
  color: white;
  margin-top: 0;
  border-style: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  font-family: 'Signika', sans-serif;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 60vw;
  height: 33vw;
  display: block;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  text-align: center;
  font-size: 120%;
}

#form {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 15px;
}

#about {
  background-color: yellowgreen;
  padding-bottom: 20px;
}

#projects {
  background-color: pink;
  display: grid;
}

#contact {
  background-color: skyblue;
}

#photo {
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#intro {
  padding: 25px 25px 0px 25px;
}

.btn {
  border-style: solid;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.foot {
  text-align: center;
  font-size: 75%;
}

.hashtag {
  padding: 15px;
  background-color: black;
  color: white;
  margin-bottom: 0;
  border-style: solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.project {
  border: solid;
  border-radius: 20px;
  margin: 20px;
  background-color: white;
}
