body {
  margin: 0;
}

footer {
  color: black;
  background: skyblue;
  padding: 5px;
}

h2 {
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  font-size: 250%;
}

#buttons {
  text-align: center;
  font-size: 120%;
}

#form {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 15px;
}

#contact {
  background-color: grey;
}

.btn {
  border-style: solid;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.foot {
  text-align: center;
  font-size: 75%;
}
